h1 {
    color: #4A85B3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid #2F4858;
}

h2 {
    margin-left: 1rem;
    color: #4A85B3;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-family: Oswald, sans-serif;} 

blockquote {
    background-color: lightgray;
    padding: 1rem;
}

body {
    background-color: #86bbd8;
    font-family: 'Courier New', Courier, monospace;
}

p {margin-left: 2rem;}

.side {float:right; margin: 0 12px;}

footer h2 {font-family:'Times New Roman', Times, serif;}

ul {background-color: #4A85B3;}

main {
    margin: 0 auto;
    border: 1px solid black;
}


/* Needs work */
a {text-decoration: none;}
a:link, source {color: #2F4858;}
a:visited, source {color: #A26CBB;}
a:focus {color: #485B67;} 
a:hover {color: #485B67;}
a:active {color: #425F71;}